DB_NAME="adameds"
DB_HOST="127.0.0.1"
DB_USERNAME=
DB_PASSWORD=
DB_DIALECT=
BASE_URL="127.0.0.1"
DB_PORT="5432"

# MONGODB CONFIG
MONGO_DB_NAME="adameds"
MONGO_DB_HOST="127.0.0.1"
MONGO_DB_PORT="27017"
MONGO_DB_AUTH_SOURCE="admin"
MONGO_DB_USERNAME=
MONGO_DB_PASSWORD=

# API CONFIG
API_BASE="api"
API_VERSION="v3"


# Application config
APPLICATION_PORT=8081
APPLICATION_HOST=127.0.0.1
